<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nwsoft.TouchbarCurrencies</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python</string>
        <string>/usr/local/bin/touchbar-currencies</string>
    </array>
    <key>KeepAlive</key>
	<true/>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
	<string>/tmp/com.nwsoft.TouchbarCurrencies.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.nwsoft.TouchbarCurrencies.out</string>
</dict>
</plist>
